body {
    background: #f1f1f1 !important; 
}

.product-img {
    height: 150px;
    object-fit: cover;
}

.shop-logo{
    height: 50px;
    object-fit: cover;
}

.big-logo{
    height: 100px;
    object-fit: cover;
}

.small-logo{
    height: 50px;
    object-fit: cover;
}