{% extends 'GUI/base.html' %}
{% load static %}
{% block title %}Online configurator{% endblock %}
{% block customScript %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{% static 'guiConfig.js' %}" async defer></script>
{% endblock %}
{% block activeGuiEditor %}active{% endblock %}
{% block body %}
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data" id="guiConfigForm"  autocomplete="off">
        {% csrf_token %}
        <legend class="border-bottom mb-4">Online Configurator</legend>

        <div class="form-group">
            <label for="commentInputFiled" class="text-primary"><i class="fa fa-tags"></i> Tags</label>
            <input type="text" class="form-control" id="commentInputFiled" placeholder="Tags" name="comment" required="true" {% if form.comment.value != None %}value="{{ form.comment.value|stringformat:'s' }}"{% endif %}>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Assign tags to your config file so you can find it later with the search function.</p>
        </div>
        
        <div class="form-group">
            <label for="printerType" class="text-primary"><i class="fa fa-chevron-down"></i> Printer Type</label>
            <select class="custom-select" name="printerType" id="printerType">
                <option value="CR10" selected="selected">CR10</option>
                <option value="CR10_MINI">CR10_MINI</option>
                <option value="CR10_S4">CR10_S4</option>
                <option value="CR10_S5">CR10_S5</option>
                <option value="CR10S">CR10S</option>
                <option value="CR10S_MINI">CR10S_MINI</option>
                <option value="CR10S_S4">CR10S_S4</option>
                <option value="CR10S_S5">CR10S_S5</option>
                <option value="CR20">CR20</option>
                <option value="ENDER2">ENDER2</option>
                <option value="ENDER3">ENDER3</option>
                <option value="ENDER5">ENDER5</option>
                <option value="ENDER5_PLUS">ENDER5_PLUS</option>
                <option value="SOVOL_SV01">SOVOL_SV01</option>
            </select>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Select your printer model</p>
        </div>

        <div class="form-group d-none" id="ENDER5_PLUS_SUB_MENU">
			
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ENDER5_PLUS_BLTOUCH_STOCK" name="ENDER5_PLUS_BLTOUCH_STOCK">
                <label class="form-check-label text-primary" for="ENDER5_PLUS_BLTOUCH_STOCK">ENDER5_PLUS_BLTOUCH_STOCK</label>
            </div>
			<p class="text-muted"><i class="fa fa-info-circle"></i>If you are using the BL Touch with the stock mount, select this option. You do not need to change other ABL Type settings below. If you are using an aftermarket mount with your BL Touch select BL Touch in the ABL Type setting and use the CUSTOM_PROBE option to set your offsets</p>

            <p class="text-muted"><i class="fa fa-info-circle"></i>By default the Ender 5 Plus ships with a BL Touch. If you have an EZABL or want to disable ABL use the below options.</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ENDER5_PLUS_EZABL" name="ENDER5_PLUS_EZABL">
                <label class="form-check-label text-primary" for="ENDER5_PLUS_EZABL">ENDER5_PLUS_EZABL</label>
            </div>
			<p class="text-muted"><i class="fa fa-info-circle"></i>If you are using an EZABL with your Ender 5 Plus use this option.</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ENDER5_PLUS_NOABL" name="ENDER5_PLUS_NOABL">
                <label class="form-check-label text-primary" for="ENDER5_PLUS_NOABL">ENDER5_PLUS_NOABL</label>
            </div>
			<p class="text-muted"><i class="fa fa-info-circle"></i>If you are not using any ABL on your Ender 5 Plus use this option.</p>
        </div>

        <div class="form-group d-none" id="ENDER3_SUB_MENU">
            <label for="ENDER3_EXTEND_OPTION" class="text-primary"><i class="fa fa-chevron-down"></i> Ender Xtender Kit Options</label>
            <select class="custom-select" name="ENDER3_EXTEND_OPTION" id="ENDER3_EXTEND_OPTION">
                <option value="ENDER3_STOCK_FRAME" selected="selected">ENDER3_STOCK_FRAME</option>
                <option value="ENDER_XTENDER_400">ENDER_XTENDER_400</option>
                <option value="ENDER_XTENDER_400XL">ENDER_XTENDER_400XL</option>
                <option value="ENDER_XTENDER_XL">ENDER_XTENDER_400XL</option>
            </select>
			<p class="text-muted"><i class="fa fa-info-circle"></i>Ender Xtender Kit Options</p>
        </div>

        <hr>
            <h4 class="text-success text-center">Filament Sensor Settings</h4>
        <hr>

        <div class="form-group">

            <label for="filament-sensor-type" class="text-primary"><i class="fa fa-chevron-down"></i> Filament sensor Type</label>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If your machine came stock with a filament sensor it will be enabled automatically. If you replaced your stock sensor with our EZOut or you added an EZOut enabling the EZOUTV2_ENABLE will override the Creality sensor if your machine had one.<br></p>
			<select class="custom-select" name="filament-sensor-type" id="filament-sensor-type">
                <option value="None" selected="selected">None</option>
                <option value="EZOUTV2_ENABLE">EZOUTV2_ENABLE</option>
                <option value="CR10S_STOCKFILAMENTSENSOR">CR10S_STOCKFILAMENTSENSOR</option>
            </select>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Please refer to the EZBoard Documentation for correctly connecting each type of filament sensor.<br></p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="MOUNTED_FILAMENT_SENSOR" name="MOUNTED_FILAMENT_SENSOR">
                <label class="form-check-label text-primary" for="MOUNTED_FILAMENT_SENSOR">MOUNTED_FILAMENT_SENSOR</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you have a filament sensor that is physically mounted to the machine you can enable this option to set the unload length to 0 to prevent filament from backing up in the sensor.</p>
        </div>

        <hr>
            <h4 class="text-success text-center">Bed Leveling Settings</h4>
        <hr>

        <div class="form-group">
            <label for="abl-type" class="text-primary"><i class="fa fa-chevron-down"></i> ABL Type</label>
            <select class="custom-select" name="abl-type" id="ABL_TYPE">
                <option value="None" selected="selected">None</option>
                <option value="EZABL">EZABL</option>
                <option value="BLTOUCH">BLTOUCH</option>
				<option value="MANUAL_MESH_LEVELING">MANUAL_MESH_LEVELING</option>
            </select>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Select the type of bed leveling you want to use. </p>
        </div>
        <div class="d-none" id="ABL_TYPE_SUB_MENU">
            <div class="form-row d-none" id="BLTOUCH_SUB_MENU">
                <div class="form-group col-md-6">
                    <label for="SERVO0_PIN" class="text-info">SERVO0_PIN</label>
                    <input type="text" class="form-control" id="SERVO0_PIN" placeholder="SERVO0_PIN" name="SERVO0_PIN" value="P2_04">
                    <p class="text-muted"><i class="fa fa-info-circle"></i> Here is where you set your servo pin. For EZBoard use P2_04</p>
                </div>
            </div>

            <div class="form-group">
                <label for="abl-mount" class="text-primary"><i class="fa fa-chevron-down"></i> ABL Mount</label>
                <select class="custom-select" name="abl-mount" id="abl-mount">
                    <option value="CR10_OEM" selected="selected">CR10_OEM</option>
                    <option value="CR10_VOLCANO">CR10_VOLCANO</option>
                    <option value="SV01_OEM_MOUNT">SV01_OEM_MOUNT</option>
                    <option value="CR10_V6HEAVYDUTY">CR10_V6HEAVYDUTY</option>
                    <option value="CR10_FANG">CR10_FANG</option>
                    <option value="TM3DAERO">TM3DAERO</option>
                    <option value="TM3DAERO_EXTENDED">TM3DAERO_EXTENDED</option>
                    <option value="PETSFANG">PETSFANG</option>
                    <option value="ENDER2_V6">ENDER2_V6</option>
                    <option value="ENDER2_OEM">ENDER2_OEM</option>
                    <option value="CUSTOM_PROBE">CUSTOM_PROBE</option>
                </select>
                <p class="text-muted"><i class="fa fa-info-circle"></i> EZABL Probe Mounts. The PETSFANG option is the RIGHT mounted version, if using the left mount please use the CUSTOM_PROBE option. Select CUSTOM_PROBE if using BLTOUCH.</p>
            </div>
            <div class="form-row d-none" id="CUSTOM_PROBE_SUB_MENU">
                <div class="form-group col-md-6">
                    <label for="X_PROBE_OFFSET_FROM_EXTRUDER" class="text-info"><i class="fa fa-pencil-square-o"></i> X_PROBE_OFFSET_FROM_EXTRUDER</label>
                    <input type="number" class="form-control" id="X_PROBE_OFFSET_FROM_EXTRUDER" placeholder="X_PROBE_OFFSET_FROM_EXTRUDER" name="X_PROBE_OFFSET_FROM_EXTRUDER" value="10">
                    <p class="text-muted"><i class="fa fa-info-circle"></i> X offset: -left  +right of the nozzle</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="Y_PROBE_OFFSET_FROM_EXTRUDER" class="text-info"><i class="fa fa-pencil-square-o"></i> Y_PROBE_OFFSET_FROM_EXTRUDER</label>
                    <input type="number" class="form-control" id="Y_PROBE_OFFSET_FROM_EXTRUDER" placeholder="Y_PROBE_OFFSET_FROM_EXTRUDER" name="Y_PROBE_OFFSET_FROM_EXTRUDER" value="10">
                    <p class="text-muted"><i class="fa fa-info-circle"></i> Y offset: -front +behind of the nozzle</p>
                </div>
            </div>

            <div class="form-group d-none" id="FIXED_PROBE_SUB_MENU">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="EZABL_FASTPROBE" checked="checked" name="EZABL_FASTPROBE">
                    <label class="form-check-label text-primary" for="EZABL_FASTPROBE">EZABL_FASTPROBE</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you have issues with your machine running the faster probe setting disable the #define EZABL_FASTPROBE option. Most machines will work with the fast probe enabled. Use M48 to verify accuracy.</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="EZABL_SUPERFASTPROBE" name="EZABL_SUPERFASTPROBE">
                    <label class="form-check-label text-primary" for="EZABL_SUPERFASTPROBE">EZABL_SUPERFASTPROBE</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> Superfast probing - Only works with the EZABL Pro Sensors (15mm/s Speed)</p>
				
				<div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="V3_EZABL_ON_SERVO" name="V3_EZABL_ON_SERVO">
                    <label class="form-check-label text-primary" for="V3_EZABL_ON_SERVO">V3_EZABL_ON_SERVO</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you are having issues with the EZABL not triggering when connected to the Z-Stop header you can use the servo header pins. <a href="https://www.th3dstudio.com/knowledgebase/ezabl-ezboard-not-triggering-fix/" target="_blank">See here for details</a></p>
            </div>

            <div class="form-group">
                <label for="EZABL_PROBE_EDGE" class="text-primary"><i class="fa fa-pencil-square-o"></i> EZABL_PROBE_EDGE</label>
                <input type="number" class="form-control" id="EZABL_PROBE_EDGE" placeholder="EZABL_PROBE_EDGE" name="EZABL_PROBE_EDGE" value="35">
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you want to change how far in or out the probe senses change EZABL_PROBE_EDGE value below. 35 works for most machines.</p>

                <label for="EZABL_POINTS" class="text-primary"><i class="fa fa-pencil-square-o"></i> EZABL_POINTS</label>
                <input type="number" class="form-control" id="EZABL_POINTS" placeholder="EZABL_POINTS" name="EZABL_POINTS" value="3">
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you want more or less ABL probe points change the number above (only used if ABL enabled). Default is 3 which gives you 3x3 grid for a total of 9 points. STICK WITH ODD NUMBERS</p>
				
				<p> Advanced Settings </p>
				
				<div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="PROBING_MOTORS_OFF" name="PROBING_MOTORS_OFF">
                    <label class="form-check-label text-primary" for="PROBING_MOTORS_OFF">PROBING_MOTORS_OFF</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> This will disable the XYE motors during probing. Can be useful if you have stepper motors causing interference issues with the EZABL sensor.</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="HEATERS_ON_DURING_PROBING" name="HEATERS_ON_DURING_PROBING">
                    <label class="form-check-label text-primary" for="HEATERS_ON_DURING_PROBING">HEATERS_ON_DURING_PROBING</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> Heaters will stay on during probing - only use if directed to by support. Do not use on AC beds.</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="WAIT_FOR_BED_HEATER" name="WAIT_FOR_BED_HEATER">
                    <label class="form-check-label text-primary" for="WAIT_FOR_BED_HEATER">WAIT_FOR_BED_HEATER</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> Letting the bed heat recover between probes can increase accuracy due to the bed warping during cooling/heating. Enabling this option will let the bed get back to temperature during probing but will increase probing times.</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="True" id="EZABL_OUTSIDE_GRID_COMPENSATION" checked="checked" name="EZABL_OUTSIDE_GRID_COMPENSATION">
                    <label class="form-check-label text-primary" for="EZABL_OUTSIDE_GRID_COMPENSATION">EZABL_OUTSIDE_GRID_COMPENSATION</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> This will extrapolate the implied tilt of the bed outside of the probe area. Do not comment out unless directed by support.</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="SLOWER_PROBE_MOVES" name="SLOWER_PROBE_MOVES">
                    <label class="form-check-label text-primary" for="SLOWER_PROBE_MOVES">SLOWER_PROBE_MOVES</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> Does your machine make weird noises/vibrations when it is probing the mesh? Enable this to slow down the speed between probe points.</p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="FINE_BABYSTEPPING" name="FINE_BABYSTEPPING">
                    <label class="form-check-label text-primary" for="FINE_BABYSTEPPING">FINE_BABYSTEPPING</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you want a more granular control over the babystepping enable this option. This will make the adjustment finer than the standard setting.</p>

            </div>
        </div>

        <!-- <p class="text-primary"><i class="fa fa-tags"></i> THERMISTOR config</p> -->
        <hr>
            <h4 class="text-success text-center">Thermistor Settings</h4>
        <hr>

        <div class="form-group">

            <label for="hotend-thermistor-type" class="text-primary"><i class="fa fa-chevron-down"></i> Hotend thermistor type</label>
            <select class="custom-select" name="hotend-thermistor-type" id="E_THERMISTOR_TYPE">
                <option value="STOCK_HOTEND_THERMISTOR" selected="selected">STOCK_HOTEND_THERMISTOR</option>
                <option value="TH3D_HOTEND_THERMISTOR">TH3D_HOTEND_THERMISTOR</option>
                <option value="V6_HOTEND">V6_HOTEND</option>
                <option value="EZBOARD_PT100">EZBOARD_PT100</option>
                <option value="KNOWN_HOTEND_THERMISTOR">KNOWN_HOTEND_THERMISTOR</option>
            </select>
            <p class="text-muted"><i class="fa fa-info-circle"></i> <strong>Thermistor Selection Information</strong><ul></p>
			<li class="text-muted">If you are using a Tough Hotend from TH3D or any thermistors TH3D sells for your hotend select TH3D_HOTEND_THERMISTOR option.</li>
			<li class="text-muted">If you are using an E3D V6 Hotend with their cartridge thermistor (not glass version) or Hemera thermistor select V6_HOTEND option.</li>
			<li class="text-muted">Select EZBOARD_PT100 option for PT100 Thermocouple Support. Refer to the EZBoard installation documentation for connecting the PT100.</li>
			<li class="text-muted">If you are using a known hotend thermistor value select KNOWN_HOTEND_THERMISTOR option and enter the value below</li>
			</ul>
			
            <div class="form-row d-none" id="KNOWN_HOTEND_THERMISTOR_SUB_MENU">
                <div class="form-group col-md-6">
                <label for="KNOWN_HOTEND_THERMISTOR_VALUE" class="text-info"><i class="fa fa-pencil-square-o"></i> KNOWN_HOTEND_THERMISTOR_VALUE</label>
                    <input type="number" class="form-control" id="KNOWN_HOTEND_THERMISTOR_VALUE" placeholder="KNOWN_HOTEND_THERMISTOR_VALUE" name="KNOWN_HOTEND_THERMISTOR_VALUE" value="1">
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="HIGH_TEMP_THERMISTOR" name="HIGH_TEMP_THERMISTOR">
                    <label class="form-check-label text-primary" for="HIGH_TEMP_THERMISTOR">HIGH_TEMP_THERMISTOR</label>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you have a hotend and thermistor capable of over 290C you can set the max temp value below.Setting this higher than 290C on a stock or traditional thermistor will damage it. Refer to your thermistor documentation to see what max temp is.</p>
            </div>
            <div class="form-row d-none" id="HIGH_TEMP_THERMISTOR_SUB_MENU">
                <div class="form-group col-md-6">
                    <label for="HIGH_TEMP_THERMISTOR_TEMP"  class="text-info"><i class="fa fa-pencil-square-o"></i> HIGH_TEMP_THERMISTOR_TEMP</label>
                    <input type="number" class="form-control" id="HIGH_TEMP_THERMISTOR_TEMP" placeholder="HIGH_TEMP_THERMISTOR_TEMP" name="HIGH_TEMP_THERMISTOR_TEMP" value="350">
                </div>
            </div>


            <label for="bed-thermistor-type" class="text-primary"><i class="fa fa-chevron-down"></i> Bed thermistor type</label>
            <select class="custom-select" name="bed-thermistor-type" id="BED_THERMISTOR_TYPE">
                <option value="STOCK_BED_THERMISTOR" selected="selected">STOCK_BED_THERMISTOR</option>
                <option value="TH3D_BED_THERMISTOR">TH3D_BED_THERMISTOR</option>
                <option value="KEENOVO_TEMPSENSOR">KEENOVO_TEMPSENSOR</option>
                <option value="KNOWN_BED_THERMISTOR">KNOWN_BED_THERMISTOR</option>
            </select>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you are using a thermistor TH3D sells for your bed select TH3D_BED_THERMISTOR option.<br>If you are using a Keenovo with SSR and the Keenovo temperature sensor enable KEENOVO_TEMPSENSOR option.<br>If you are using a known bed thermistor value enable KNOWN_BED_THERMISTOR option and enter the KNOWN_BED_THERMISTOR_VALUE below</p>

            <div class="form-row d-none" id="KNOWN_BED_THERMISTOR_SUB_MENU">
                <div class="form-group col-md-6">
                <label for="KNOWN_BED_THERMISTOR_VALUE" class="text-info"><i class="fa fa-pencil-square-o"></i> KNOWN_BED_THERMISTOR_VALUE</label>
                    <input type="number" class="form-control" id="KNOWN_BED_THERMISTOR_VALUE" placeholder="KNOWN_BED_THERMISTOR_VALUE" name="KNOWN_BED_THERMISTOR_VALUE" value="1">
                </div>
            </div>
        

            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="HOTEND_THERMAL_PROTECTION_TIME" class="text-primary"><i class="fa fa-pencil-square-o"></i> HOTEND_THERMAL_PROTECTION_TIME</label>
                    <input type="number" class="form-control" id="HOTEND_THERMAL_PROTECTION_TIME" placeholder="HOTEND_THERMAL_PROTECTION_TIME" name="HOTEND_THERMAL_PROTECTION_TIME" value="60" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="BED_THERMAL_PROTECTION_TIME" class="text-primary"><i class="fa fa-pencil-square-o"></i> BED_THERMAL_PROTECTION_TIME</label>
                    <input type="number" class="form-control" id="BED_THERMAL_PROTECTION_TIME" placeholder="BED_THERMAL_PROTECTION_TIME" name="BED_THERMAL_PROTECTION_TIME" value="180" required>
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you want to make thermal protection periods less or more adjust below. The number is in seconds. If you are getting false thermal runaway then increase the protection time. Do not make it over 300 for either setting.</p>
            </div>
        </div>

        <hr>
            <h4 class="text-success text-center">Heated Bed Settings</h4>
        <hr>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="PIDBED_ENABLE" name="PIDBED_ENABLE">
                <label class="form-check-label text-primary" for="PIDBED_ENABLE">PIDBED_ENABLE</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you want PID tuning on your bed you can enable the this option. But PID on a bed is not typically needed. By default BED PID is disabled.</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="AC_BED" name="AC_BED">
                <label class="form-check-label text-primary" for="AC_BED">AC_BED</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you are using an AC bed with a standalone controller (Keenovo) enable this option to disable the heated bed in the firmware</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="BED_HIGHTEMP" name="BED_HIGHTEMP">
                <label class="form-check-label text-primary" for="BED_HIGHTEMP">BED_HIGHTEMP</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Stock bed max is 120C for this firmware. Enable this to allow temps up to 150C. Your bed must support this temp for it to achieve the higher temperatures.</p>
        </div>

        <hr>
            <h4 class="text-success text-center">Extruder Settings</h4>
        <hr>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="DIRECT_DRIVE_PRINTER" name="DIRECT_DRIVE_PRINTER">
                <label class="form-check-label text-primary" for="DIRECT_DRIVE_PRINTER">DIRECT_DRIVE_PRINTER</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you have a direct drive machine with a filament sensor enable this option to decrease the unload length from 100mm to 20mm.</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="CUSTOM_ESTEPS" name="CUSTOM_ESTEPS">
                <label class="form-check-label text-primary" for="CUSTOM_ESTEPS">CUSTOM_ESTEPS</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you want to set custom Estep select CUSTOM_ESTEPS option.</p>

            <div class="form-row d-none" id="CUSTOM_ESTEPS_SUB_MENU">
                <div class="form-group col-md-6">
                    <label for="CUSTOM_ESTEPS_VALUE"  class="text-info"><i class="fa fa-pencil-square-o"></i> CUSTOM_ESTEPS_VALUE</label>
                    <input type="number" class="form-control" id="CUSTOM_ESTEPS_VALUE" placeholder="CUSTOM_ESTEPS_VALUE" name="CUSTOM_ESTEPS_VALUE" value="463">
                </div>
                <p class="text-muted"><i class="fa fa-info-circle"></i> If you want to change the Esteps for your printer set CUSTOM_ESTEPS_VALUE to what you want - USE WHOLE NUMBERS ONLY</p>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="REVERSE_E_MOTOR_DIRECTION" name="REVERSE_E_MOTOR_DIRECTION">
                <label class="form-check-label text-primary" for="REVERSE_E_MOTOR_DIRECTION">REVERSE_E_MOTOR_DIRECTION</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you reversed the wiring on your E motor already (like the Bondtech Guide says to do) then you do not need to reverse it in the firmware here.</p>
        
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="STEALTHCHOP_E" name="STEALTHCHOP_E">
                <label class="form-check-label text-primary" for="STEALTHCHOP_E">STEALTHCHOP_E</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> By default we have StealthChop2 Disabled for the E axis. This is due to the possibility of losing steps due to the low torque nature of StealthChop2. If you want to quiet down the E motor you can enable this option. However, if you get lost steps and inconsistent extrusion then disable this option.</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="PANCAKE_STEPPER" name="PANCAKE_STEPPER">
                <label class="form-check-label text-primary" for="PANCAKE_STEPPER">PANCAKE_STEPPER</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you are using a pancake stepper enable the this option to reduce the motor current and lower the stepper temperature.</p>
        </div>

        <hr>
            <h4 class="text-success text-center">Motor Settings</h4>
        <hr>

        <div class="form-group">
            
			<div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="REVERSE_X_MOTOR" name="REVERSE_X_MOTOR">
                <label class="form-check-label text-primary" for="REVERSE_X_MOTOR">REVERSE_X_MOTOR</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="REVERSE_Y_MOTOR" name="REVERSE_Y_MOTOR">
                <label class="form-check-label text-primary" for="REVERSE_Y_MOTOR">REVERSE_Y_MOTOR</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="REVERSE_Z_MOTOR" name="REVERSE_Z_MOTOR">
                <label class="form-check-label text-primary" for="REVERSE_Z_MOTOR">REVERSE_Z_MOTOR</label>
            </div>
            
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you need to reverse the direction of a motor enable the above option for that axis.</p>
            <p class="text-muted"><i class="fa fa-info-circle"></i><strong> Most machines will not need these options set. But if yours has an axis that is not going the correct direction you can change it here.</strong></p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="DUAL_Z_MOTORS" name="DUAL_Z_MOTORS">
                <label class="form-check-label text-primary" for="DUAL_Z_MOTORS">DUAL_Z_MOTORS</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> When running dual Z motors enable this option. This will increase the DEFAULT Z motor driver current for 2x motors.</p>
            <p class="text-muted"><i class="fa fa-info-circle"></i><strong> Machines that come stock with Dual Z will have this enabled already in our backend.</strong></p>
        </div>

        <hr>
            <h4 class="text-success text-center">Other Settings</h4>
        <hr>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="FAN_FIX" name="FAN_FIX">
                <label class="form-check-label text-primary" for="FAN_FIX">FAN_FIX</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you have a 5015 fan that whines when under max speed enable this option.</p>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="SLOWER_HOMING" name="SLOWER_HOMING">
                <label class="form-check-label text-primary" for="SLOWER_HOMING">SLOWER_HOMING</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If your printer is homing to the endstops hard enable this to change the homing speed/divisor to make it less aggressive.</p>
        </div>


        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="HOME_ADJUST" name="HOME_ADJUST">
                <label class="form-check-label text-primary" for="HOME_ADJUST">HOME_ADJUST</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you need to adjust your XY home offsets from defaults then you can enable this option and enter your custom XY offsets. This is provided for convenience and is unsupported with included product support. Measure (home XY then jog using the LCD 1mm at a time) the X and Y distance the nozzle is off the build plate and then put those as NEGATIVE values below, positive values will NOT work (move your endstops to fix a positve offset).</p>
        </div>
        <div class="form-row d-none" id="HOME_ADJUST_SUB_MENU">
            <div class="form-group col-md-6">
                <label for="X_HOME_LOCATION"  class="text-info"><i class="fa fa-pencil-square-o"></i> X_HOME_LOCATION</label>
                <input type="number" class="form-control" id="X_HOME_LOCATION" placeholder="X_HOME_LOCATION" name="X_HOME_LOCATION" value="-10">
            </div>
            <div class="form-group col-md-6">
                <label for="Y_HOME_LOCATION"  class="text-info"><i class="fa fa-pencil-square-o"></i> Y_HOME_LOCATION</label>
                <input type="number" class="form-control" id="Y_HOME_LOCATION" placeholder="Y_HOME_LOCATION" name="Y_HOME_LOCATION" value="-10">
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="LINEAR_ADVANCE" name="LINEAR_ADVANCE">
                <label class="form-check-label text-primary" for="LINEAR_ADVANCE">LINEAR_ADVANCE</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Enable LINEAR_ADVANCE and change the K Value below or use M900 KX.XX in your starting code (recommended).</p>
        </div>
        <div class="form-row d-none" id="LINEAR_ADVANCE_SUB_MENU">
            <div class="form-group col-md-6">
               <label for="LINEAR_ADVANCE_K" class="text-info">LINEAR_ADVANCE_K</label>
                <input type="number" class="form-control" id="LINEAR_ADVANCE_K" placeholder="LINEAR_ADVANCE_K" name="LINEAR_ADVANCE_K" value="0">
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="POWER_LOSS_RECOVERY" name="POWER_LOSS_RECOVERY">
                <label class="form-check-label text-primary" for="POWER_LOSS_RECOVERY">POWER_LOSS_RECOVERY</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> This feature causes excessive wear on your SD card. This will disable junction jerk,  SCurve Acceleration, and Linear Advance due to RAM limitations.</p>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="S_CURVE_ACCELERATION_DISABLE" name="S_CURVE_ACCELERATION_DISABLE">
                <label class="form-check-label text-primary" for="S_CURVE_ACCELERATION_DISABLE">S_CURVE_ACCELERATION_DISABLE</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="JUNCTION_DEVIATION_DISABLE" name="JUNCTION_DEVIATION_DISABLE">
                <label class="form-check-label text-primary" for="JUNCTION_DEVIATION_DISABLE">JUNCTION_DEVIATION_DISABLE</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you do not like the new Junction Deviation (Jerk) and/or S-Curve Acceleration then you can enable this options to disable each feature.</p>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ENABLE_CUSTOM_ZHEIGHT" name="ENABLE_CUSTOM_ZHEIGHT">
                <label class="form-check-label text-primary" for="ENABLE_CUSTOM_ZHEIGHT">ENABLE_CUSTOM_ZHEIGHT</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you are using a modded machine with a higher Z height check this option and enter the height value CUSTOM_ZHEIGHT in mm.</p>
        </div>
        <div class="form-row d-none" id="ENABLE_CUSTOM_ZHEIGHT_SUB_MENU">
            <div class="form-group col-md-6">
                <label for="CUSTOM_ZHEIGHT" class="text-info"><i class="fa fa-pencil-square-o"></i>CUSTOM_ZHEIGHT</label>
                <input type="number" class="form-control" id="CUSTOM_ZHEIGHT" placeholder="CUSTOM_ZHEIGHT" name="CUSTOM_ZHEIGHT" value="400">
                <p class="text-muted"><i class="fa fa-info-circle"></i>  Height value is in mm.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ENDER5_NEW_LEADSCREW" name="ENDER5_NEW_LEADSCREW">
                <label class="form-check-label text-primary" for="ENDER5_NEW_LEADSCREW">ENDER5_NEW_LEADSCREW</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you have the new Ender 5 or Ender 5 Pro Model that has the new 800steps/mm Z leadscrew enable this option.</p>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="ENABLE_CUSTOM_PRINTER_NAME" name="ENABLE_CUSTOM_PRINTER_NAME">
                <label class="form-check-label text-primary" for="ENABLE_CUSTOM_PRINTER_NAME">ENABLE_CUSTOM_PRINTER_NAME</label>
            </div>
            <p class="text-muted"><i class="fa fa-info-circle"></i> If you want to set custom printer name enable this option.</p>
        </div>
        <div class="form-row d-none" id="ENABLE_CUSTOM_PRINTER_NAME_SUB_MENU">
            <div class="form-group col-md-6">
                <label for="USER_PRINTER_NAME" class="text-info"><i class="fa fa-pencil-square-o"></i> USER_PRINTER_NAME</label>
                <input type="text" class="form-control" id="USER_PRINTER_NAME" placeholder="USER_PRINTER_NAME" name="USER_PRINTER_NAME" value="3D Printer">
                <p class="text-muted"><i class="fa fa-info-circle"></i> Use your custom printer name</p>
            </div>
        </div>

        <div class="form-group">
            <label for="LCD_LANGUAGE" class="text-primary"><i class="fa fa-chevron-down"></i> LCD_LANGUAGE</label>
            <select class="custom-select" name="LCD_LANGUAGE" id="LCD_LANGUAGE">
                <option value="LCD_LANGUAGE　en" selected="selected">en</option>
                <option value="LCD_LANGUAGE　an">an</option>
                <option value="LCD_LANGUAGE　bg">bg</option>
                <option value="LCD_LANGUAGE　ca">ca</option>
                <option value="LCD_LANGUAGE　cn">cn</option>
                <option value="LCD_LANGUAGE　cz">cz</option>
                <option value="LCD_LANGUAGE　cz_utf8">cz_utf8</option>
                <option value="LCD_LANGUAGE　de">de</option>
                <option value="LCD_LANGUAGE　el">el</option>
                <option value="LCD_LANGUAGE　el-gr">el-gr</option>
                <option value="LCD_LANGUAGE　es">es</option>
                <option value="LCD_LANGUAGE　eu">eu</option>
                <option value="LCD_LANGUAGE　fi">fi</option>
                <option value="LCD_LANGUAGE　fr">fr</option>
                <option value="LCD_LANGUAGE　fr_utf8">fr_utf8</option>
                <option value="LCD_LANGUAGE　gl">gl</option>
                <option value="LCD_LANGUAGE　hr">hr</option>
                <option value="LCD_LANGUAGE　it">it</option>
                <option value="LCD_LANGUAGE　kana">kana</option>
                <option value="LCD_LANGUAGE　kana_utf8">kana_utf8</option>
                <option value="LCD_LANGUAGE　nl">nl</option>
                <option value="LCD_LANGUAGE　pl">pl</option>
                <option value="LCD_LANGUAGE　pt">pt</option>
                <option value="LCD_LANGUAGE　pt_utf8">pt_utf8</option>
                <option value="LCD_LANGUAGE　pt-br">pt-br</option>
                <option value="LCD_LANGUAGE　pt-br_utf8">pt-br_utf8</option>
                <option value="LCD_LANGUAGE　ru">ru</option>
                <option value="LCD_LANGUAGE　sk_utf8">sk_utf8</option>
                <option value="LCD_LANGUAGE　tr">tr</option>
                <option value="LCD_LANGUAGE　uk">uk</option>
                <option value="LCD_LANGUAGE　zh_CN">zh_CN</option>
                <option value="LCD_LANGUAGE　zh_TW">zh_TW</option>
            </select>
            <p class="text-muted"><i class="fa fa-info-circle"></i> Select the language to display on the LCD.<br>This is provided for convenience and is unsupported if there are issues.</p>
        </div>
        <div class="g-recaptcha" data-sitekey="{{ publicKey }}" style="float:left;"></div>
        <button type="submit" class="btn btn-primary w-50" style="float:right;"><i class="fa fa-upload"></i> Submit</button>
    </form>
    <br><br><br><br><br><br>
</div>
{% endblock %}
