

@layer base, utils, components;

/* @import "tailwindcss"; */
@import "@webtui/css/base.css";

/* Utils */
@import "@webtui/css/utils/box.css"; /*[!code ++]*/

/* Components */
@import "@webtui/css/components/button.css"; /*[!code ++]*/
@import "@webtui/css/components/typography.css"; /*[!code ++]*/
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/popover.css";


@import '@webtui/theme-nord';
@import "@webtui/plugin-nf";


  
@font-face {
font-family: "PixelMplus12";
src: url("/fonts/PixelMplus12-Regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: "MonoNerd";
    src: url("/fonts/DepartureMonoNerdFont-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    }


html,body, * {
    font-family: "PixelMplus12", monospace;
  }

.container {
display: flex;
/* height: 100vh; */
}

.left-col, .right-col {
  width: 20%;       /* Smaller columns */
  display: flex;
  justify-content: center;

}

.middle-col {
  flex: 1;          /* Middle column takes remaining space */
  display: flex;
  justify-content: center;
}

.max-width{
  width: 100%;
}

@media (max-width: 768px) {
  .left-col,
  .right-col {
    display: none; /* Hide on small screens */
  }

  .middle-col {
    width: 100%;   /* Fill entire width */
  }

  .container {
    flex-direction: column; /* optional: stack if needed */
  }
}


.hidden {
  visibility: hidden;
}


.box-tittle {

}

.box-content{
    
}


.monospace {
    font-family: "MonoNerd", monospace;
}